<div class="hero-unit" align="center">
  <% if @projects %>
  <h1>Your Projects</h1>
  <br>
  <div class="projects">
    <% @projects.each do |project| %>
      <i class ="icon-globe"></i> <%= link_to project.title, project_path(project) %><br/>
    <% end %>
  </div>
    <% else %>
    <h1>You have no projects</h1>
  <% end %>
</div>

