<div class="span9">
  <div class="hero-unit" align="center">
    <h1><%= @project.title %></h1>
    <br>
    Creator: <%= @project.user.email %>
  </div>
</div>
<div class="span3">
  <div class="well" align="center">
    <h2>Add Todo Lists to your project</h2><br>
    <h3><u><%= link_to "New Todo", new_list_path(:project_id => params[:id]) %></u><h3>
    <br>
    <% @project.lists.each do |list| %>
      <h4><%= link_to list.title, list_path(list) %></h4><br>
    <% end %>
  </div>
</div>